
.ticketMain{

    display: grid;
    width: 502px;
    grid-template-columns: [q]20px [w]141px [e]20px [r]141px [t]20px [y]141px [u]20px;
    grid-template-rows: [q]26px [w]24px [e]26px [r]18px
    [t]21px [y]10px [u]18px [i]21px [o]20px;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;

}

.header{
    grid-column-start:w;
    grid-column-end: u;
    grid-row-start: w;
    grid-row-end: e;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr
}

.price{
    width: 147px;
    left: 375px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    text-align: left;

    color: #2196F3;
}
.logo{
    grid-column-start:3;
}
.infoBlock1{

    grid-column-start:w;
    grid-column-end: u;
    grid-row-start: r;
    grid-row-end: r;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr
}
.infoBlock2{
    grid-column-start:w;
    grid-column-end: u;
    grid-row-start: t;
    grid-row-end: t;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr
}
.infoBlock3{
    grid-column-start:w;
    grid-column-end: u;
    grid-row-start: u;
    grid-row-end: u;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr
}
.infoBlock4{
    grid-column-start:w;
    grid-column-end: u;
    grid-row-start: i;
    grid-row-end: i;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr
}

.routeDestination{

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;

    color: #A0B0B9;
}
.routeTime{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #4A4A4A;
}
